body {
  font-family: 'Lora', serif; 
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: rgb(12, 114, 12); 
  padding: 10px 0; 
  color: white;
  text-align: center;
}
.logo-text {
  font-family: 'Candal', sans-serif;
  color: white; 
  font-size: 30px; 
  margin: 0;
}
.nav {
  list-style: none;
  padding: 0;
  text-align: center;
}
.nav li {
  display: inline-block;
  margin: 0 10px; 
}
.nav li a {
  color: white; 
  text-decoration: none;
  font-size: 21px; 
  
  
}
.nav li a:hover {
 color: rgb(15, 14, 14);
  transition: 0.3s;
}
.content1::after{
  content: '';
  display: block;
  clear: both;
}
.content1,.content2,.content3,.content4{
  width: 90%;
  margin: 30px auto 30px;
  border: none;
  padding-bottom: 2%;
  padding-bottom: 2%;
}

 .post1,.post2,.post3,.post4{
  width :100%;
  height: 30%;
  margin: 10px auto;
  border-radius: 25px;
 
}
 .flag{
width: 20%;
height: auto;
float: left;;
padding-right: 2%;
padding-top: 0%;
padding-bottom: 1%;

}
.iqbal{
  width: 20%;
  min-height: 15%;
  max-height: auto ;
  float: left;;
  padding-right: 2%;
  padding-top: 0%;
  padding-bottom: 1%;
  
  }

.text{
  font: 'Arial',sans-serif;
        border: none;
        border-radius: 20px;
        text-align: center;
        margin-top: 1%;
}
.content2::after{
  content: '';
  display: block;
  clear: both;
}

.quaid{
  
    width: 20%;
    min-height: 15%;
    max-height: auto ;
    float:  right;
    padding-right: 1%;
  
    padding-bottom: 1%;
    
    }


.fatima{
  width: 20%;
  height: auto;
  float:  right;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 1%;
  
  }
  
   h1{
    font-family: 'Candal', sans-serif;
    color: rgb(4, 84, 4);
    width: auto;
    height: auto;
  }
  .content3::after{
    content: '';
    display: block;
    clear: both;
  }
    .title{
      font-family: 'Candal', sans-serif;
      color: rgb(4, 84, 4);
      text-align: center;
   
    }
    .title2{
      font-family: 'Candal', sans-serif;
      color: rgb(4, 84, 4);
      text-align: center;
    
    }
    .content4::after{
      content: '';
      display: block;
      clear: both;
    }
      .title3{
        font-family: 'Candal', sans-serif;
        color: rgb(4, 84, 4);
        text-align: center;
      }
      .post-slider{
       
         width:100%;
         height: auto;
      }
      
     .post-wrapper{
      width: 100%;
      height: auto;
      margin: 0px auto;
      
       justify-content: space-between;
      display: flex; 
  flex-wrap: wrap; 
  padding-left: 3%;
  padding-bottom: 3%;
  margin-bottom: 50px;
      }
     

      .slider-title{
        text-align: center;
      }
      
      .posts{
        height: auto;
      }

      .posts {
        width: 19%;
        height: auto;
        background-color: rgb(12, 114, 12);
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box; 
        margin-bottom: 3%;
        overflow: hidden;
      }
      
   .tLQ,.tB,.tBZ,.tIK{
        font-family: 'Candal', sans-serif;
        text-align: center;
        color: rgb(250, 250, 250);
        font-weight: lighter;
        font-size: large;
        margin-top: 4%;
        height: auto;

      }
      
      img{
        max-width: 100%;
        height: auto;
      }
    
      .bhutto{
        float: center;
        width: 100%;
        height: auto;
      }
      .benazir{
        float: center;
        width: 100%;
        height: auto;
      }
      .liaqat{
        float: center;
        width: 100%;
        height: auto;
      }
      .imran{
        float: center;
        width: 100%;
        height: auto;
      }
      .pB,.pBZ,.pLQ,.pIK{
        font: 'Arial',sans-serif;
        border: none;
        border-radius: 20px;
        text-align: center;
        color: rgb(255, 255, 255);
      
      }
      
    
     
     
      .post-wrapper::after {
  content: "";
  display: table;
  clear: both;
}



/* Culture */

.T1{
  width: 80%;
  padding-left: 10%;
  margin-top: 3%;
}
.t1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.MultiCulturalPakistan{
  text-align: center;
  font-family: 'Candal',sans-serif;
}
.youtube-video{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  
}


 .literatureimg{
width: 29%;
height: auto;
float: left;;
padding-right: 2%;
padding-top: 0%;
padding-bottom: 1%;

}



.hL{
  text-align: center;
}
.tL{
  font: 'Arial',sans-serif;
        border: none;
        border-radius: 20px;
        text-align: center;
}
.architecture-heading{
  text-align: center;
}
.architecture-text{
  font: 'Arial',sans-serif;
  border: none;
  border-radius: 20px;
padding-left: 0%;
text-align: center;
}

  .BadshahiMosque{
    text-align: center;
   
    font-size: 23px;
    color: black;
  }
  .NoorMahal{
    text-align: center;
    font-size: 23px;
    color: black;
  }
  .architecture-images2,.architecture-images{
    display: flex;
    align-items: center; 
    width: 90%;
    height: auto;
    justify-content: space-between;
    margin-left: 5%;
    }
  .RanikotFort{
    text-align: center;
   
    font-size: 23px;
    color: black;
  }
  .ShahjahanMosque{
    text-align: center;
    font-size: 23px;
    color: black;
  }
  .tea,.dress,.architecture,.literature{
    width: 90%;
    margin: 30px auto 30px;
    border: none;
    padding-bottom: 0%;
    margin-top: 5%;
  }
   .Chaiimg{
 width: 25%;
  height: auto;
  float: right;
  padding-left: 2%;
  padding-top: 0%;
  padding-bottom: 1%;
  
  }
  
  
  .teaH{
    text-align: center;
  }
  .teaT{
    font: 'Arial',sans-serif;
        border: none;
        border-radius: 20px;
        text-align: center;
  }
  
   .national-dress,.tea-culture,.Architecture-content,.Literature-content{
    width :95%;
    height: auto;
    margin: 10px auto;
    border-radius: 25px;
   
  }
  .dressH{
    text-align: center;
  }
  .dressT{
    font: 'Arial',sans-serif;
    border: none;
    border-radius: 20px;

  text-align: center;
  }
  .dresses {
    display: flex;
    align-items: center; 
    width: 50%;
    height: auto;
    justify-content: space-between;
    margin-left: 25%;
    border: black;
    }
    .MenH,.womenH{
      text-align: center;
      font-size: 23px;
      color: black;
    }
  
   
    img {
      max-width: 100%;
      height: auto;
    }
    
 

.NoorMahalimg,
.RaniKotimg,
.ShahjahanMosqueimg,
.BadshahiMosqueimg
 {
  width: 500px;
  height: 250px;
}

.Men,
.women {
  width: 300px;
   height:auto;
}

/* 
    Footer Section */
    
  footer{
background: black;
padding-top: 50px;
margin: 0%;
font-family: Arial, Helvetica, sans-serif;
}
.footer-content{
  color: white;
}
.container{
  width: 100%;
 
  display: flex;
   align-items: center; 
 height: auto;
justify-content: space-between;
 margin-left: 5%;
}
.headings{
font-size: 30px;
margin-bottom: 15px;
color: rgb(12, 114, 12);
text-align:left ;
}
.bottombar{
  color: rgb(241, 241, 241);
  text-align: center;
}
.footer-content ul {
  list-style: none;
  padding-bottom: 0px;
}




.footer-content ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-content ul li a:hover {
  text-decoration: none;
  color:rgb(12, 114, 12);
  transition: 0.3s;
}
